@font-face {
  font-family: "josefine"; 
  src: local("JosefinSans-VariableFont_wght"),
    url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "santorini"; 
  src: local("Santorini"),
    url("./fonts/Santorini-Luxury-Signature-Font/SantoriniRegular.woff") format("truetype");
}

.App-header {
  background-color: #D3D9CF;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  gap: 5%;
}

.first-half_header {
  height: 6%;
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first-half_header_line {
  height: 0.3cqw;
  width: 15%;
  background: #9DA598;
}

.first-half_header_title {
  margin-left: 5%;
  font-size: 2.5cqw;
  color: #9DA598;
  font-family: 'josefine';
}

.first-half_info {
  padding: 5% 0%;
  height: 15%;
  font-family: 'santorini';
  font-size: 5cqw;
  color: #0A0A0A;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-half_info_and {
  color: #9DA598 !important;
  font-weight: bold;
  font-size: 6cqw;
}

.first-half_comming-soon {
  padding: 1% 5%;
  height: 50%;
  font-family: 'josefine';
  color: #9DA598;
  font-size: 2cqw;
  text-align: justify;
}

.webpage-link {
  color: #0A0A0A;
}

@media (max-width: 1000px) {
  .first-half_header_title {
    font-size: 4cqw;
  }

  .first-half_info {
    font-size: 8cqw;
  }

  .first-half_info_and {
    font-size: 12cqw;
  }

  .first-half_comming-soon {
    font-size: 5cqw;
  }
}
